@charset "utf-8";

nav {
    margin-top: 3ex;
}

nav span {
    margin-right: 1ex;
}

article {
    margin-bottom: 10ex;
}

section {
    margin-top: 3ex;
}

div {
    margin: 1ex 0ex;
}

select {
    padding: 0.5ex 1ex;
    width: 90vw;
    font-size: large;
}

button {
    width: 90vw;
    font-size: large;
}

textarea {
    width: 90vw;
    height: 20ex;
}

input {
    width: 90vw;
}

input[type="checkbox"] {
    margin-right: 2ex;
    width: auto;
}

input[type="radio"] {
    width: auto;
}

table.border {
    border-collapse: collapse;
    margin-bottom: 2ex;
}

table.border tr th {
    border: 1px solid black;
    padding: 0.5ex;
}

table.border tr td {
    border: 1px solid black;
    padding: 0.5ex;
}

#display {
    margin-bottom: 3ex;
}

#number label {
    font-size: large;
}

#key {
    border-collapse: collapse;
    border-spacing: 0ex;
}

#key td {
    width: 18vw;
    text-align: center;
}

#key button {
    width: 100%;
    height: 3ex;
    font-size: x-large;
}

#key span {
    font-size: small;
}

#key.solid button {
    color: darkblue;
}

#key.decision button {
    color: black;
}

#key.candidate button {
    color: darkgreen;
}

.note {
    padding-left: 1em;
    font-size: small;
}

.symbol {
    text-align: center;
}

.valid {
    color: blue;
}

.invalid {
    color: red;
}

.error {
    background-color: pink;
}

@media (min-width: 768px) {

    select {
        width: auto;
    }

    button {
        width: auto;
    }

    textarea {
        width: 50ex;
        height: 20ex;
    }

    input[type="number"] {
        width: 95%;
    }

    #board {
        width: 300px;
        height: 300px;
    }

    #number {
        margin-left: 1ex;
    }

    #key td {
        width: 50px;
    }

    .table {
        display: table;
    }

    .table .row {
        display: table-row;
    }

    .table .row .cell {
        display: table-cell;
        vertical-align: top;
        padding: 0ex 2ex 1ex 0ex;
    }

}

