@charset "utf-8";

nav {
    margin-top: 3ex;
}

nav span {
    margin-right: 1ex;
}

article {
    margin-bottom: 10ex;
}

input[type="button"] {
    width: 90%;
    margin-top: 2ex;
}

table.border {
    border: 1px outset gray;
    border-collapse: collapse;
}

table.border tr th {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
}

table.border tr td {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
}

div.hidden {
    display: none;
}

.symbol {
    text-align: center;
}

.error {
    color: red;
}

@media (min-width: 768px) {

    input[type="button"] {
        width: auto;
    }

}

