@charset "utf-8";

body {
    line-height: 1.8;
    margin-bottom: 10ex;
}

nav {
    margin-top: 3ex;
}

nav span {
    margin-right: 1ex;
}

button {
    width: 90vw;
    margin-top: 2ex;
}

table {
    border: 1px outset gray;
    border-collapse: collapse;
}

table tr th {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
}

table tr td {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
}

.hidden {
    display: none;
}

.symbol {
    text-align: center;
}

.error {
    color: red;
}

@media (orientation: landscape) {

    body {
        line-height: 1.5;
    }

    button {
        width: auto;
    }

}

